* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color:rgba(0, 0, 0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.3s ease;   
}
.logo:hover{
    color: rgb(0, 255, 255);
    text-shadow: 0 0 25px rgba(0, 255, 255, 0.753),
                 0 0 50px rgb(0, 255, 255);
    transform:scale(1.1);                
}

span{
    color: #59D5E0;
}

.navbar a{
    font-size: 18px;
    color: rgb(0, 255, 255);
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color:rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.contato{
    padding: 10px 28px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contato:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 247, 255);
    border: 2px solid black;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;    
}

.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2{
    padding: 15px 28px;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    border: 2 px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    overscroll-behavior: none;
}

.btn-2:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 255);
    border: 2px solid black;
}

.img-box img{
    border-radius: 50%;
    width: 550px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: cyan;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.12);
    width: 50px;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 12%;
    gap: 10em;
    background-color: rgb(0, 0, 0);
}

.sobre-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(0, 255, 255),
                0 0 50px rgb(0, 255, 255);
    border-radius: 50%;
}

.sobre-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}

.sobre-content h3{
    font-size: 62px;
    color: white;
}

.sobre-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contato-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contato-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contato-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato-form form .input-box input,
.contato-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

#contat{
    text-align: center;
    text-decoration: none;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid rgb(0, 255, 234);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgb(0, 255, 255), 0 0 10px rgb(0, 255, 255);
    transition: 0.3s ease;    
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: rgb(0, 255, 255);
    border: 2px solid rgb(0, 255, 255);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

footer ul li af{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

footer ul li a:hover{
    border-bottom: 3px solid rgb(0, 255, 255);
}
    
footer ul lif{
    display: inline-block;
    padding: 0 15px;
}
footer .copyright{
    margin-top: 15pX;
    text-align: center;
    font-size: 12pX;
    color:white
    white;
}

.copyright{
    color: white;
}


form {
    max-width: 150px;
    margin: 0 auto;
}

.input-box {
    margin-bottom: 15px;
}

textarea {
    width: 100%; /* Faça o textarea ocupar 100% da largura do contêiner pai */
    box-sizing: border-box; /* Isso inclui a largura do preenchimento e da borda no cálculo total da largura */
}

#cxnomes, #cxemails, #cxtelefones, #enviard {
    background-color: rgb(0, 204, 255);
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 50px;
    color: #fff; /* Texto branco */
    transition: background-color 0.3s ease;
}

#cxnomes:hover, #cxemails:hover, #cxtelefones:hover, #enviard:hover {
    background-color: rgb(0, 174, 217);
}

/* Estilos para  (iphone 12) */
@media only screen 
  and (min-device-width: 390px) 
  and (max-device-width: 844px) 
  and (-webkit-min-device-pixel-ratio: 2){
    }

    .navbar {
        display: none;
        text-align: center;
        margin-top: 10px;
    }

    .navbar a {
        display: block;
        margin-bottom: 10px;
    }

    .logo {
        font-size: 24px;
    }

    .home-content {
        text-align: center;
    }

    .img-box {
        display: none;
    }

    .sobre {
        flex-direction: column;
        font-size: 20px;
    }

    .sobre-img {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer {
        text-align: center;
        padding: 20px;
    }

    .social {
        margin-bottom: 20px;
    }

/* Estilos para telas médias (mínimo 769px) */
@media screen and (min-width: 769px) {
    .navbar {
        display: block;
    }

    .navbar a {
        margin-right: 20px;
    }

    .home {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-box {
        display: block;
        max-width: 40%;
    }

    .sobre {
        display: flex;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }
}

/* Estilos para o botão de menu */
.menu-toggle {
    display: none; /* Esconde por padrão em telas maiores */
    color: rgb(0, 225, 255);
    font-size: 30px;
}
.menu-toggle:hover{
    color:rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    text-shadow: 0 0 25px rgba(0, 255, 255, 0.753),
    0 0 50px rgb(0, 255, 255);
transform:scale(1.0);
}

/* Estilos específicos para telas menores */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostra o botão de menu em telas menores */
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .navbar {
        display: none; /* Esconde o menu por padrão em telas menores */
        position: absolute;
        top: 100px; /* Ajuste conforme necessário para o posicionamento correto */
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
        z-index: 999;
    }

    .navbar.show {
        display: block; /* Mostra o menu quando a classe .show é adicionada */
    }

    .navbar a {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
    }
}
