* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.projetos-section {
    padding: 20px;
}

.projetos-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.projeto {
    margin-bottom: 30px;
}

.projeto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.projeto p {
    font-size: 16px;
    line-height: 1.5;
}
